
.dropdown {
    display: grid;
    padding: 0.8em;
    height: fit-content;
}

.dropdown > .title {
    font-weight: 600;
    color: black;
}

.dropdown > select {
    padding: 0.5em;
    border-radius: 0.2em;
    color: var(--theme-color);
    border: 0.1em solid var(--theme-color);
}